.create-account-link:hover {
    text-decoration: none;
}

.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    background-color: #f4f4f9;
    padding: 0px 20px;
    margin: 0; 
}

.signin-container h1 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
}

.signin-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    max-width: 400px;
    text-decoration: none;
}

.signin-form label {
    font-size: 14px;
    text-align: left;
    margin-bottom: 5px;
}

.signin-form input {
    padding: 10px;
    border-radius: 5px;
    font-size: 14px;
    border: #272626;
    width: 95%; 
}

.signin-button {
    background-color: #81b0a2;
    color: white;
    border: none;
    padding: 10px 0;
    border-radius: 25px;
    cursor: pointer;
    width: 100%; 
    margin-top: 20px;
    font-size: 16px;
}

.signin-button:hover {
    background-color: #6da08d;
    text-decoration: none;
}

.divider {
    margin: 20px 0;
    text-align: center;
    font-size: 14px;
    color: #555;
}

.social-signin {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-bottom: 20px;
}

.social-button {
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ddd;
}

.social-button:hover {
    background-color: #bbb;
}

.footer {
    width: 100%;
    bottom: 0;
    margin: 0;
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}

.copyright {
    font-size: 12px;
    color: #999;
}

.at {
    color: #81b0a2;
    text-decoration: none;
    font-size: 14px;
}

.at:hover {
    text-decoration: underline;
}
