#sign {
    width: 100%;
}
.signin-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f4f4f9;
    padding: 0px 20px;
    margin: 0;
}

.signin-container h1 {
    font-size: 32px;
}

.signin-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.signin-form label {
    font-size: 14px;
    text-align: left;
}

.form-options {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rem {
    display: flex;
    align-items: center;
    gap: 5px;
}

.form-options a {
    margin-left: auto;
    text-align: right;
}

.signin-form input {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
    width: 400px;
}

.signin-button {
    background-color: #81b0a2;
    color: white;
    border: none;
    padding: 10px 0;
    border-radius: 25px;
    cursor: pointer;
    width: 410px;
    margin-top: 20px;
}

.signin-button:hover {
    background-color: #6da08d;
}

.divider {
    margin-top: 20px;
    color: #999;
    font-size: 14px;
}

.social-signin {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.social-button {
    border: none;
    background-color: #fff;
    padding: 6px 9px;
    border-radius: 50%;
    width: 45px;
    cursor: pointer;
    font-size: 25px;
    transition: background-color 0.3s ease;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    align-items: center;
    justify-content: center;
}

.social-button.linkedin {
    color: #0e76a8;
}

.social-button.facebook {
    color: #4267b2;
}

.social-button.google {
    color: #db4437;
}

.social-button:hover {
    background-color: #f4f4f9;
}

.create-account-link {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    color: #333;
}

.create-account-link:hover {
    text-decoration: underline;
}

.footer {
    width: 100%;
    bottom: 0;
    margin: 0;
    left: 0;
    background-color: #f0f0f0;
    padding: 20px 0;
    text-align: center;
}

.footer-links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 10px;
}

.footer-links p {
    color: #666;
    font-size: 14px;
    cursor: pointer;
}

.footer-links p:hover {
    color: #000;
}

.copyright {
    font-size: 12px;
    color: #999;
}

@media (max-width: 768px) {
    .signin-form input {
        width: 80%;
    }

    .signin-button {
        width: 100%;
    }

    .signin-container h1 {
        font-size: 28px;
    }

    .divider {
        font-size: 12px;
    }

    .footer {
        padding: 15px 0;
    }

    .footer-links {
        flex-direction: column;
        gap: 10px;
    }

    .footer-links p {
        font-size: 12px;
    }
}

@media (max-width: 480px) {
    .signin-container {
        padding: 0px 10px;
    }

    .signin-container h1 {
        font-size: 24px;
    }

    .copyright {
        font-size: 10px;
    }
}
